<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Bob's Cars</title>
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href=" map to lightbox css">  <!-- ADD THE 3 FOLDERS FROM LIGHTBOX TO VIEWS FOLDER -->
    <link rel="stylesheet" href="css/styles.css">
  </head>

  <body>

    <div class='container'>
      <div class='row'>
        <div class='col-md-4'>
          <h2>Bob's Cars</h2>

          <form action='/new-car' method='post'>
            <div class='form-group'>
              <label for='make'>Enter Make of Car</label>
              <input type='text' name='make' id='make' class='form-control' placeholder='e.g. Ford'>
            </div>
            <button type='submit' class='btn btn-sm btn-primary'>Submit Car</button>
          </form>

          <br>
          <form action='/delete' method='post'>
            <button type='submit' class='btn btn-sm'>Delete All Cars</button>
          </form>

        </div>  <!-- .col-md-3 -->
      </div>  <!-- .row -->

      <div class='row'>
        {% for car in cars %}
          <div class='col-md-6 cardiv'>
            <h3>{{ car.getMake }}</h3>
          </div>
        {% endfor %}
      </div>  <!-- .row -->
    </div>  <!-- .container -->


    <script src=" go get jQ Google CDN "></script>
    <script src=" map to lightbox js"></script>
    <script src=" go get bootstrap js"></script>
  </body>
</html>
